django
celery
redis
djangorestframework
django-cleanup
numpy
biopython
numba
scipy
pyhmmer
drf-spectacular
git+https://github.com/utdal/py-mfdca.git
django-cors-headers
git+https://github.com/RaheelSyedAhmed/dcatoolkit.git
gunicorn